.button {
  border: 1px solid #1a1b22;
  box-sizing: border-box;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  padding: 0;
  z-index: 2;
  margin: 0 auto;
  cursor: pointer;
  background: none;
  transition: opacity 0.4s linear;
}

.button_hidden {
  display: none;
}

.button:hover {
  opacity: 0.8;
}

.button:focus {
  outline: none;
}

.button_disabled {
  opacity: 0.2;
  color: #b6bcbf;
  box-sizing: border-box;
  background: #e6e8eb;
  cursor: auto;
}

.button_disabled:hover {
  opacity: 0.2;
}

.button_theme_light {
  border: 1px solid #fff;
}

.button_theme_search {
  width: 168px;
  height: 100%;
  /* height: 64px; */
  background-color: #2f71e5;
  box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.2);
  border: none;
  /* border-radius: 100px; */
  position: absolute;
  bottom: 0px;
  right: 0px;
  color: white;
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}

.sbutton_theme_search:hover {
  background-color: #347eff;
  opacity: 1;
}

.button_theme_search:focus {
  background-color: #2a65cc;
  opacity: 1;
}

.button_theme_cards {
  width: 288px;
  border-radius: 80px;
  border: none;
  background: #fff;
  padding: 0;
}

.button_theme_form {
  width: 100%;
  height: 64px;
  background-color: #2f71e5;
  border: none;
}

.button__link {
  font-family: 'Roboto', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
  color: #1a1b22;
  margin: 0 12px;
}

.button__link_theme_log {
  margin-left: 19px;
  margin-right: 7px;
}

.button__link_theme_light {
  color: #fff;
}

.button__link_theme_cards {
  color: #1a1b22;
  margin: 0;
}

.button__link_theme_search {
  margin: 0;
}

.button__link_theme_form {
  color: #fff;
  margin: 0;
}

.button__logout {
  background-image: url('../../images/logout-dark.svg');
  background-position: center;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  margin-right: 15px;
}

.button__logout_hidden {
  display: none;
}

.button__logout_theme_light {
  background-image: url('../../images/logout.svg');
}

@media screen and (min-width: 555px) and (max-width: 1191px) {
  .button {
    height: 40px;
  }

  .button_theme_form {
    height: 64px;
    width: 100%;
  }

  .button__link {
    font-size: 16px;
  }

  .button__link_theme_form {
    font-size: 18px;
  }

  .button__link_theme_search {
    font-size: 18px;
  }

  .button__link_theme_cards {
    font-size: 18px;
  }

  .button__link_theme_log {
    margin-left: 15px;
    margin-right: 7px;
  }

  .button__logout {
    margin-right: 13px;
  }

  .button_theme_search {
    width: 160px;
    height: 100%;
  }
}

@media screen and (min-width: 555px) and (max-width: 767px) {
  .button__link {
    font-size: 14px;
  }
  .button__link_theme_form {
    font-size: 18px;
  }
  .button__link_theme_search {
    font-size: 18px;
  }
  .button__link_theme_cards {
    font-size: 18px;
  }
}

@media screen and (max-width: 554px) {
  .button {
    height: 56px;
    width: 100%;
    width: 288px;
    margin: 0;
  }

  .button_theme_form {
    height: 64px;
    width: 100%;
  }

  .button_theme_search {
    position: absolute;
    bottom: -72px;
    left: 0;
    width: 100%;
  }
  .navigation__logout {
    display: none;
  }
  .button__link {
    font-size: 18px;
  }
}

